copyto=D:/Java/github_ashera/AbsoluteLayout/swt/src/main/java/r/android/widget/AbsoluteLayout.java

absolutelayout.include.methods=onMeasure,onLayout,checkLayoutParams,generateDefaultLayoutParams
absolutelayout.exclude.methods=
absolutelayout.include.fields=type:int,type:boolean
absolutelayout.exclude.fields=
absolutelayout.include.classes=AbsoluteLayout,LayoutParams
absolutelayout.exclude.classes=
absolutelayout.include.variable=
absolutelayout.exlude.variable=
absolutelayout.include.imports=android.view.ViewGroup,android.view.View
absolutelayout.exclude.imports=

layoutparams.include.methods=LayoutParams-int-int-int-int,LayoutParams-ViewGroup.LayoutParams
layoutparams.exclude.methods=